  .Botones {
    font-family: sans-serif;
    text-align: center;
  }
  .quienes-invisible {
    display: none;
  }
  .quienes-visible {
    display: block;
  }
  .objetivos-visible {
    display: block;
  }
  .objetivos-invisible {
    display: none;
  }

  .modal {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
  }
  .modal_content {
    background-color: white;
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid black;
  }
  .close {
    color: Black;
    float: right;
  }